[submodule "public"]
	path = public
	url = git@github.com:gzt/gzt.github.io.git
[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
